<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%; /* Atur lebar tabel sesuai kebutuhan */
        }
        th, td {
            border: 1px solid black; /* Tambahkan border ke sel */
            padding: 8px; /* Tambahkan padding untuk estetika */
            text-align: left; /* Atur rata kiri untuk sel */
        }
        th {
            background-color: #f2f2f2; /* Tambahkan warna latar untuk header */
        }
    </style>
</head>
<body>
    <h1>Product List</h1>
    <a href="/product/new">Add New Product</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
</body>
</html>
